# Entornos virtuales
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE y editores
.vscode/
.idea/
*.swp
*.swo

# Pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/

# Archivos de sistema
.DS_Store
